/* Import font files */
@font-face {
  font-family: 'Cabin';
  src: url('../fonts/Cabin/static/Cabin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the font families */
* {
  font-family: 'Varela Round', Cabin, sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  margin: 0;
}

/* Element Selectors */
h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 2.5rem;
}

button {
  cursor: pointer;
}

/* Class and ID Selectors */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh
}

#title {
  display: inline-block;
  margin: 8px 10px;
  font-size: 2rem;
}

#timer-container {
  text-align: center;
}

#status-span {
  margin: 30px;
  color: rgb(230,230,230);
  font-size: 1.3rem;
}

#timer {
  font-size: 8rem;
  border-radius: 50px;
  background-color: rgba(255,255,255, 0.12);
  padding: 15px 35px;
  border: 3px solid gray;
  font-weight: bold;
}

#play-stop-btn {
  background-color: black;
  border-radius: 15px;
  border: 1px solid gray;
  display: inline-block;
  margin-top: 50px;
  height: 50px;
  width: 170px;
}

#play-stop-btn:hover {
  background-color: rgba(255,255,255, 0.15)
}

#play-pause-text {
  font-size: 1.3rem;
}

#timer-description {
  text-align: center;
  background-color: rgba(255,255,255, 0.12);
  border-radius: 30px;
  margin-top: 7vh;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 3%;
}

#timer-description > p {
  line-height: 1.5rem;
  font-size: 1rem;
}

#timer-description > ol {
  list-style-position: inside;
}

/* Pseudo-classes and Pseudo-elements */
button:hover {
  background-color: rgba(255,255,255, 0.15)
}

/* Specific Components or Sections */
header {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px;
  width: 100%;
  height: 7vh;
  background-color: black;
  border-bottom: 1px solid gray;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: inline;
  float: right;
  margin: 5px 0;
  overflow: hidden;
}

nav > ul > li {
  display: inline-block;
  margin: 0 5px;
}

nav > ul > li > button {
  height: 40px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: black;
  padding: 0px 10px;
  color: white;
}

footer {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
}