/* Import font files */
@font-face {
  font-family: 'Cabin';
  src: url('../fonts/Cabin/static/Cabin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/Varela_Round/VarelaRound-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the font families */
* {
  font-family: 'Varela Round', Cabin, sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  margin: 0;
}

/* Class and ID Selectors */
.full-display-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px); /* For desktop screens */
  /* height: calc(100vh - 50px); For mobile screens */
}

.navbar-brand {
  font-weight: bold;
}

.navbar {
  transition: opacity 2s;
}

.navbar:hover {
  opacity: 1;
}

.navbar-hidden {
  opacity: 0;
}

.navbar-show {
  opacity: 1;
}

#title {
  display: inline-block;
  margin: 8px 10px;
}

#timer-container {
  text-align: center;
  font-size: 1.5rem;
}

#status-span {
  margin-bottom: 15px;
  color: rgb(230,230,230);
}

#timer {
  font-size: 8rem;
  border-radius: 60px;
  background-color: rgba(255,255,255, 0.12);
  padding: 15px 60px;
  border: 1px solid rgb(157,157,157);
  font-weight: bold;
}

#play-stop-btn {
  background-color: black;
  border-radius: 15px;
  border: 1px solid rgb(157,157,157);
  display: inline-block;
  margin-top: 20px;
  height: 50px;
  width: 170px;
  margin-bottom: 51px; /* For desktop screens */
  /* margin-bottom: 45px; For mobile screens */
}

#play-stop-btn:hover {
  background-color: rgba(255,255,255, 0.15)
}

#timer-description {
  margin-left: 15%;
  margin-right: 15%;
  padding: 40px 0 30px 0;
}

#timer-description > h2 {
  line-height: 4rem;
  padding-top: 1rem;
}

#timer-description > p {
  line-height: 1.8rem;
}

#timer-description > ol {
  list-style-position: inside;
}

/* Pseudo-classes and Pseudo-elements */
button:hover {
  background-color: rgba(255,255,255, 0.15)
}

/* Specific Components or Sections */
header {
  position: sticky;
  top: 0;
}

nav {
  border-bottom: 1px solid rgb(157,157,157);
}

footer {
  border-top: 1px solid rgb(157,157,157);
  text-align: center;
  padding: 25px 0 15px 0;
  font-size: 0.8rem;
}